@import "bootstrap";

body {
    background-color: #D331BC;
    font-family: 'Josefin Sans', sans-serif;
}

.top-nav {
    background-color: #0010FF;
    border-bottom-color: #D7FF00;
    border-bottom-width: 20px;
    border-bottom-style: solid;
    height: 100px;
    padding-top: 1px;
}

.brand {
    color: #D7FF00;
    font-size: 50px;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Pacifico', cursive;
}

.top-nav .add a {
    font-weight: bold;
    color: #FF0000;
    font-size: 16px;
    padding-left: 40px;
}

.top-nav .add {
    margin-top: 3px;
}

.card {
    background-color: #000000;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: 10px solid #0010FF;
    margin-top: 40px;
    padding: 0;
}

.handle {
    margin: 10px;
    color: #0010FF;
    font-weight: bold;
    font-size: 18px;
}

.card p, .card .message {
    color: #D7FF00;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

.card.form {
    padding: 20px;
}

label {
    color: #D7FF00;
    font-size: 18px;
}

input {
    color: #D7FF00;
    font-size: 18px;
    font-weight: 400;
}

.my-btn {
    background-color: #0010FF;
    width: 100%;
    border: none;
    font-size: 24px;
    color: #D7FF00;
    margin-top: 10px;
}

.boolean {
    margin-left: 2px;
    margin-top: 5px;
}

.boolean label {
    margin-top: 5px;
    line-height: 44px;
}

.gram-actions a {
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    margin-left: auto;
}

.comments {
    color: #D7FF00;
    padding: 20px;
}

.comment {
    color: #0010FF;
    font-size: 24px;
    margin-top: 5px;
}

.comment_handle {
    color: #0010FF;
    font-weight: bold;
    font-size: 36px;
}

h1, h2, a, p {
    color: #D7FF00;
}

.text-muted {
    color: #D7FF00 !important;
}